@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
  }
}

/* Swiper library pagenation dot color */
.swiper-pagination-bullet-active {
  background-color: #67b2de !important;
}
